/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  text-align: center;
  background: black;
  color: white;
}

img {
  display: block;
  margin: 0 auto;
  float: left;
  height: 60vh;
}

div {
  float: left;
  width: 50%;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
